<html>
    <link rel="stylesheet" href="<%= File.join(ressource_dir, 'page.css') %>" type="text/css" />
    <script type="text/javascript" src="<%= File.join(ressource_dir, 'jquery.min.js') %>"></script>
    <script type="text/javascript" src="<%= File.join(ressource_dir, 'jquery.selectfilter.js') %>"></script>
    <title><%= page_name %></title>
</html>
<body>
    <%= html_body(:ressource_dir => ressource_dir) %>
</body>

