<% if title %>
    <h1><%= title %></h1>
<% end %>
<% fragments.each do |fragment| %>
    <%= html_fragment(fragment, ressource_dir: ressource_dir) %>
    <% if fragment.id %>
        </div>
    <% end %>
<% end %>

